Temp/
iOSBuild/
Library/
ExportedObj/
obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
.DS_Store
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

Library/
Temp/
*.sln
*.apk
*.ipa
*.csproj
*.sln
*.userprefs
*.unityproj
*.DS_Store
Assets/Scenes/overScene/overSence.unity